nav {
    background: #000;
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3em 2em;
        img {
            width: 13em;
        }
        ul {
            display: flex;
            align-items: center;
            gap: 2em;
        li {
            font-weight: 300;
            font-size: 1.8em;
            cursor: pointer;
            color: #fff;
            letter-spacing: 0.06em;
            transition: 0.3s;
            border-bottom: 1px solid transpare + nt;
            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
        svg {
            font-size: 2.5em;
            color: #fff;
        }
        #searchIcon {
            font-size: 2em;
        }
        }
        #burger {
            color: #fff;
            cursor: pointer;
            display: none;
            font-size: 2.1em;
        }

        .sidenav{
            opacity: 0;
            visibility: hidden;
            background: rgba($color: #0f0f0f, $alpha: .5);
            position: absolute;
            right: 0;
            top: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 3em;
            width: 100%;
            padding: 3em;
            height: 1vh;
            transition: .2s;
            span {
                font-size: 1.6rem;
                color: #fff;
            }
        }
        .sidenav.active{
            visibility: visible;
            height: 100vh;
            opacity: 1;
        }
        @media screen and (max-width: 850px) {
            ul {
                display: none;
            }
            #burger {
                display: block;
            } 
        }
  }
}
